/* custom style for header */

.nav a{
    color: rgb(71, 71, 71);
    text-decoration: none;
    line-height: 60px;
    margin: 0px 20px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 4px solid #199d5f00;
}

.nav a:hover{
    border-bottom: 4px solid #199d60;
    color: #199d60;
}

.nav{
    margin: auto;
}

